.createPost-container {
    display: flex;
    justify-content: center;
    
    #newPostButton {
        // text-transform: uppercase;
        padding: .5em 10px;
        color: white;
        background: #444;
        font-weight: normal;
        cursor: pointer;
        border-radius: 15px;
        font-size: 1em;
        z-index:1;    
        transition: all .2s;
        opacity: .7;
        text-align: center;
        
        &:hover {
            transform: scale(1.1);
            opacity: 1;;
        }

        &:focus {
            outline:none;
        }
    }

    #newPostForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        font-family: 'Montserrat', sans-serif;
        max-width: 80%;
        z-index: 50;
    
        * {
            margin: .3em;
            // width: 30em;
            max-width: 80%;
            z-index:100;
        }
    
        /* Fields */
        #newPost, #deletePassword {
        padding: 0 2em;
        text-align: center;
        background-color: transparent; /* Remove background fill */
        // text-transform: uppercase; /* Make text all uppercase */
        border-radius: 0; /* Remove corner curve */
        border: 2px solid #fff; /* 2px white border */
        color: #fff; /* White text */
        height: 4em; /* Increase input height */
        font-size: 1em;
        }
    
        #newPost {
            width: 30em;
        }
        #newPost:focus, #deletePassword:focus {
            outline:none;
        }
    
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    rgb(139, 137, 137);
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    rgb(139, 137, 137);
        opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    rgb(139, 137, 137);
        opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    rgb(139, 137, 137);
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
        color:    rgb(139, 137, 137);
        }
        /* Button */
    
        #createPost {
            // text-transform: uppercase;
            padding: .5em 10px;
            color: white;
            background: #444;
            font-weight: normal;
            cursor: pointer;
            border-radius: 15px;
            font-size: 1em;
            width:20em;
            z-index:1;
            text-align: center;
            transition: all .2s;
            opacity: .7;
            
            &:hover {
                transform: scale(1.1);
                opacity: 1;;
            }
    
            &:focus {
                outline:none;
            }
        }  
    
        #options {
            display:flex;
            justify-content:space-evenly;
        }

        h2 {
            padding: 0 1em;
            background-color: transparent; /* Remove background fill */
            // border-radius: 5px; /* Remove corner curve */
            // border: 2px solid #fff; /* 2px white border */
            color: #fff; /* White text */
            height: 4em; /* Increase input height */
            font-size: 1.7em;
            font-weight: normal;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        a {
            text-align: center;
        }
    }
}