.createPost-container {
    // display: flex;
    // justify-content: center;
    z-index: 500;
    width:100%;
    
    #newPostButton {
        text-transform: uppercase;
        padding: .5em 10px;
        color: white;
        background: #444;
        font-weight: normal;
        cursor: pointer;
        // border-radius: 15px;
        font-size: 1em;
        z-index:100;    
        transition: all .2s;
        opacity: .7;
        text-align: center;
        user-select: none;
        
        &:hover {
            // transform: scale(1.1);
            opacity: 1;;
        }

        &:focus {
            outline:none;
        }
    }

    #newPostForm {
        // display: flex;
        // height: 100%;
        display: grid;
        grid-template-rows: 60% auto;
        grid-template-columns: 33% 33% auto;
        height: 6em;

        // width:100%;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // flex-grow: 1;
        font-family: 'Montserrat', sans-serif;
        // max-width: 80%;
        // z-index: 100;
    
        
    
        /* Fields */
        #newPost {
        grid-column: 1/4;
        padding: 0 1em;
        // text-align: center;
        background-color: transparent; /* Remove background fill */
        // // text-transform: uppercase; /* Make text all uppercase */
        border-radius: 5px;; /* Remove corner curve */
        border: 2px solid #fff; /* 2px white border */
        color: #fff; /* White text */
        height: 3.3em; /* Increase input height */
        font-size: 1em;
        word-wrap: break-word;
        }
        
        #deletePassword {
            align-self: center;
            padding: 0 1em;
            background-color: transparent; /* Remove background fill */
            border-radius: 5px; /* Remove corner curve */
            border: 2px solid #fff; /* 2px white border */
            color: #fff; /* White text */
            height: 2em; /* Increase input height */
            font-size: .7em;
            margin-top: 1px;
            // width: 30%;

        }
      
        #newPost:focus, #deletePassword:focus {
            outline:none;
        }
    
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    rgb(230, 230, 230);
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    rgb(230, 230, 230);
        opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    rgb(230, 230, 230);
        opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    rgb(230, 230, 230);
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
        color:    rgb(230, 230, 230);
        }
        /* Button */
    
        .createPost {
            text-transform: uppercase;
            // padding: .5em 10px;
            margin-top: 2px;
            margin: 2px;
            color: white;
            background: #444;
            font-weight: 200;
            cursor: pointer;
            border-radius: 5px;
            font-size: .8em;
            // width:5em;
            // z-index:1;
            text-align: center;
            transition: all .2s;
            opacity: .7;
            
            &:hover {
                opacity: 1;;
            }
    
            &:focus {
                outline:none;
            }
        }  
        
        #useMaster {
            font-size: .5em;
            width: 40%;
        }
        #options {
            align-self: center;
            justify-self: center;            
        }
       
    }
}