.createPost-container {
  z-index: 500;
  width: 100%;
}

.createPost-container #newPostButton {
  text-transform: uppercase;
  padding: .5em 10px;
  color: white;
  background: #444;
  font-weight: normal;
  cursor: pointer;
  font-size: 1em;
  z-index: 100;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: .7;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.createPost-container #newPostButton:hover {
  opacity: 1;
}

.createPost-container #newPostButton:focus {
  outline: none;
}

.createPost-container #newPostForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60% auto;
      grid-template-rows: 60% auto;
  -ms-grid-columns: 33% 33% auto;
      grid-template-columns: 33% 33% auto;
  height: 6em;
  font-family: 'Montserrat', sans-serif;
  /* Fields */
  /* Button */
}

.createPost-container #newPostForm #newPost {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  padding: 0 1em;
  background-color: transparent;
  /* Remove background fill */
  border-radius: 5px;
  /* Remove corner curve */
  border: 2px solid #fff;
  /* 2px white border */
  color: #fff;
  /* White text */
  height: 3.3em;
  /* Increase input height */
  font-size: 1em;
  word-wrap: break-word;
}

.createPost-container #newPostForm #deletePassword {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 1em;
  background-color: transparent;
  /* Remove background fill */
  border-radius: 5px;
  /* Remove corner curve */
  border: 2px solid #fff;
  /* 2px white border */
  color: #fff;
  /* White text */
  height: 2em;
  /* Increase input height */
  font-size: .7em;
  margin-top: 1px;
}

.createPost-container #newPostForm #newPost:focus, .createPost-container #newPostForm #deletePassword:focus {
  outline: none;
}

.createPost-container #newPostForm ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #e6e6e6;
}

.createPost-container #newPostForm :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e6e6e6;
  opacity: 1;
}

.createPost-container #newPostForm ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e6e6e6;
  opacity: 1;
}

.createPost-container #newPostForm :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #e6e6e6;
}

.createPost-container #newPostForm ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #e6e6e6;
}

.createPost-container #newPostForm .createPost {
  text-transform: uppercase;
  margin-top: 2px;
  margin: 2px;
  color: white;
  background: #444;
  font-weight: 200;
  cursor: pointer;
  border-radius: 5px;
  font-size: .8em;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: .7;
}

.createPost-container #newPostForm .createPost:hover {
  opacity: 1;
}

.createPost-container #newPostForm .createPost:focus {
  outline: none;
}

.createPost-container #newPostForm #useMaster {
  font-size: .5em;
  width: 40%;
}

.createPost-container #newPostForm #options {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
