.navigation {
    color: rgba(255, 255, 255, .7);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 1em;
    padding-left: 1em;

    i {
        margin: 0 .3em;
        font-size: 1.5em;
        cursor: pointer;
        z-index: 100;
        // font-family: 'Rock Salt', cursive;

        &:hover {
            opacity: 1;
            color:#fdcd88;
        }

        &:focus {
            outline:none;
        }
    }
}

