@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


/* Particles  */

#particles {
    position:fixed;
    min-height: 100vh;
    width: 100%;
}

.tsparticles-canvas-el{
    min-height: 100vh;
    z-index:-1;
}


.container {
    width:100%;
    min-height:100vh;
    background: black url('../../assets/images/landing_page.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Rock Salt', cursive;
    color: #F3F9F3;
}

#overlay {
    /* border: 1px red solid; */
    min-height:100vh;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
}


h1 {
    flex-grow: 2;
    font-size: 2.5em;
    padding: 0;
    display: flex;
    align-items: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin:0;
}

#channel-list {
    flex-grow: 2;
    min-height: 20vh;
}

input {
    z-index:100;
    margin: 5vh 0;
}
/* 
#channel-list {
    z-index:50;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 35vh;
    overflow-y: scroll;

} */
/* 
#channel-list::-webkit-scrollbar-track
{
	border: 1px solid black;
    background-color: rgba(5, 245, 245, .4);
}

#channel-list::-webkit-scrollbar
{
	width: 10px;
	background-color: #10F7F7;
}

#channel-list::-webkit-scrollbar-thumb
{
	background-color: #099C9C;	
} */


.channel {
    margin: 2vh;
    z-index: 500;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background-color:transparent;
	border-radius:6px;
	border:1px solid #1bbcc2;
	display:inline-block;
	cursor:pointer;
	color:#42e3db;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #17d4ed;
    user-select:none;
}
.channel:hover {
	background-color:transparent;
}
.channel:active {
	position:relative;
	top:1px;
}

        




#create-channel {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #24E8EE 5%, #0E9BA0 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#3B4E4F;
	font-family: 'Roboto', sans-serif;
	font-size:1em;
	padding:9px 23px;
    text-decoration:none;
    z-index: 50;
	text-shadow:0px 1px 0px #263666;
}
#create-channel:hover {
	background:linear-gradient(to bottom, #0E9BA0 5%, #24E8EE 100%);
	background-color:#0E9BA0;
}
#create-channel:active {
	position:relative;
	top:1px;
}

        

#landing-footer{
    /* border: 1px red solid; */
    width:100%;
    height:100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1em;
    padding: 10px 0;
    font-size: 1em;
}


@media (max-width: 1400px) {#overlay{font-size: 18px;}}
@media (max-width: 1200px) {#overlay{font-size: 16px;}}
@media (max-width: 1000px) {#overlay{font-size: 14px;}}
@media (max-width: 800px) {#overlay{font-size: 12px;}}
@media (max-width: 671px) {#overlay{font-size: 10px;}}
