#newThreadForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
  max-width: 80%;
  z-index: 50;
  /* Fields */
  /* Button */
}

#newThreadForm * {
  margin: 1em;
  width: 30em;
  max-width: 80%;
}

#newThreadForm #newThread, #newThreadForm #deletePassword {
  padding: 0 2em;
  background-color: transparent;
  /* Remove background fill */
  border-radius: 0;
  /* Remove corner curve */
  border: 2px solid #fff;
  /* 2px white border */
  color: #fff;
  /* White text */
  height: 4em;
  /* Increase input height */
  font-size: 1em;
}

#newThreadForm #newThread:focus, #newThreadForm #deletePassword:focus {
  outline: none;
}

#newThreadForm ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #8b8989;
}

#newThreadForm :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8b8989;
  opacity: 1;
}

#newThreadForm ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8b8989;
  opacity: 1;
}

#newThreadForm :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8b8989;
}

#newThreadForm ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8b8989;
}

#newThreadForm #createThread {
  padding: .5em 10px;
  color: white;
  background: #444;
  font-weight: normal;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1em;
  width: 20em;
  z-index: 1;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: .7;
}

#newThreadForm #createThread:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

#newThreadForm #createThread:focus {
  outline: none;
}

#newThreadForm h2 {
  padding: 0 1em;
  background-color: transparent;
  /* Remove background fill */
  color: #fff;
  /* White text */
  height: 4em;
  /* Increase input height */
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#newThreadForm a {
  text-align: center;
}
