@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.threadSelect {
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    min-height: 60vh;


    h2 {
        color: white;
        font-weight: 300;
        text-align: center;
    }

    .searchBox {
        margin-top: .5em;
        background: #adadad;
        opacity: .8;
        height: 2em;
        border-radius: 2em;
        padding: .5em;
        z-index:100;
    
    }
    
    // .searchBox:hover > .searchInput {
    //     width: 16em;
    //     padding: 0 6px;
    // }
    
    .searchBox:hover > .searchButton {
      background: white;
      color : #2f3640;
    }
    
    .searchButton {
        color: white;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;

        &:focus {
            outline:none;
        }
    }

    
    .searchInput {
        border:none;
        background: none;
        outline:none;
        padding: 0;
        color: rgb(31, 30, 30);
        font-size: 1em;
        transition: 0.4s;
        line-height: 2em;
        width: 0px;
        margin: 0;
        z-index: 300;
    
    }
    
    @media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 10em;
        padding: 0 6px;
    }
    }

    
    #channel-list {
        max-width: 70vw;
        z-index:50;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        max-height: 35vh;
        overflow-y: auto;
    }

    #channel-list::-webkit-scrollbar-track {
        border: 1px solid black;
        background-color: rgba(255, 255, 255, 0.4);
    } 

    #channel-list::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(255, 255, 255);
    }

    #channel-list::-webkit-scrollbar-thumb {
        background-color: rgb(110, 110, 110);	
    }


    .channel {
        margin: 2vh;
        z-index: 500;
        box-shadow:inset 0px 1px 0px 0px #d9fbbe;
        background-color:transparent;
        border-radius:6px;
        border:1px solid #f5f5f5;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:1em;
        font-weight:300;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #b7bcbd;
        user-select:none;
    }

    .channel:hover {
        background-color:transparent;
        color: #fccd89;
        border: 1px solid #fccd89;
        background-color: #2c0a23;        
    }

        

    @media (max-width: 1400px) {.search-container{font-size: 18px;}}
    @media (max-width: 1200px) {.search-container{font-size: 16px;}}
    @media (max-width: 1000px) {.search-containery{font-size: 14px;}}
    @media (max-width: 800px) {.search-container{font-size: 12px;}}
    @media (max-width: 671px) {.search-container{font-size: 10px;}}

}