#footer {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:white;
    font-family: 'Rock Salt', cursive;

    font-size: 20px;

    * {
        padding: 1vh;
        text-align: center;
        // user-select: none;
    }

    #copyright {
        font-size: .8em;
        user-select: none;
    }

    @media (max-width: 800px) {
        & {
            flex-direction: column;
            align-items: center;
        }
    }
}
