#footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}

#footer * {
  padding: 1vh;
  text-align: center;
}

#footer #copyright {
  font-size: .8em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 2s;
  transition: all 2s;
  overflow: hidden;
}

#footer #copyright i {
  color: #fdcd88;
  font-size: 2em;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: .3;
  cursor: pointer;
}

#footer #copyright p {
  display: block;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 0;
  -webkit-transition: opacity 1.2s ease-in;
  transition: opacity 1.2s ease-in;
  opacity: 0;
  letter-spacing: .4em;
}

#footer #copyright:hover i {
  opacity: 1;
}

#footer #copyright:hover p {
  opacity: 1;
  display: inline-block;
  width: auto;
  height: auto;
}

#footer .logo {
  background: url("./logo.png") no-repeat center;
  background-size: cover;
  height: 2em;
  width: 2em;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#footer .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#footer a {
  z-index: 300;
}

@media (max-width: 800px) {
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
