.forumSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

@media (max-width: 800px) {
  .forumSelect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn {
  font-family: 'Rock Salt', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  min-width: 7.7em;
  text-decoration: none;
  margin-right: 2.5em;
  padding: 1em;
  position: relative;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  letter-spacing: .2em;
}

.btn:hover {
  color: #fcce89;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.btn:hover .button-stroke:nth-child(2) {
  stroke-dashoffset: 0;
}

.button-stroke {
  display: block;
  width: calc(100% - 2em);
  height: 1.5em;
  stroke: #868085;
  position: absolute;
  top: 3em;
  stroke-width: 4;
}

.button-stroke:nth-child(2) {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  stroke: #fcce89;
  stroke-width: 5;
  -webkit-transition: stroke-dashoffset 800ms ease-out;
  transition: stroke-dashoffset 800ms ease-out;
}
